.question, img, .answer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


.question {
    /* border-image: url("assets/amy_eats_burrito.jpg") 27 space; */
    margin-bottom: 75px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}